.container {
    margin: 10px;
    width: 200px;
    display: flex;
    background-color: rgb(35, 137, 137);
}

.titulo {
    padding: 0%;
    color: #fff;
}

.item {
    background-color: rgba(165, 237, 236, 0.5);
    color: #fff;
}
